html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
}

header + footer {
  font-size: 1.5rem;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1622;
}
a {
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
  text-decoration: none;
  list-style: none;
}

a:hover {
  color: #3f1622;
  list-style-type: none;
  text-decoration: none;
}

img {
  width: 100%;
}

figure figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
}

#words {
  font-family: "PT serif", serif;
  font-weight: bold;
}

p {
  font-family: "PT serif", serif;
  font-style: normal;
}

p > b {
  font-family: "PT serif", serif;
  font-weight: bold;
}

p cite {
  font-family: "PT serif", serif;
  font-style: italic;
}

p i {
  font-family: "PT serif", serif;
  font-style: italic;
}

blockquote p {
  font-family: "PT serif", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.125rem;
}

footer cite {
  font-size: 0.8rem;
}

ol li {
  font-family: "PT serif", serif;
  font-style: normal;
  list-style-type: lower-alpha;
  list-style-type: lower-greek;
}

dl dt {
  font-family: "PT serif", serif;
  font-weight: bold;
}

ul li {
  font-family: "PT serif", serif;
  font-style: normal;
  list-style-type: circle;
}

source {
  font-family: "PT serif", serif;
}
